{
  "hostname": "192.168.4.128",
  "port": "5555",
  "problemsDir": "/home/aron/njudge_problems",
  "submissionsDir": "/home/aron/njudge_submissions",
  "templatesDir": "/home/aron/njudge/templates",
  "mailAccount": "[SECRET]",
  "mailServerHost": "[SECRET]",
  "mailServerPort": "[SECRET]",
  "mailAccountPassword": "[SECRET]",
  "gluePort": "3000",
  "DBName": "[SECRET]",
  "DBAccount": "[SECRET]",
  "DBPassword": "[SECRET]",
  "DBHost": "[SECRET]",
  "cookieSecret": "[SECRET]",

  "googleAuth": {
      "enabled": true,
      "clientKey": "[SECRET]",
      "secret": "[SECRET]",
      "callback": "[SECRET]"
    }
}