{{define "user_menu"}}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{{if eq .Page "profile"}} active{{end}}" href="/user/profile/{{.User.Name}}/">{{.User.Name}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{if eq .Page "submissions"}} active{{end}}" href="/user/profile/{{.User.Name}}/submissions/">Beküldések</a>
        </li>
    </ul>
    <br>
{{end}}