{{template "header" .}}
{{template "user_menu" dict "Page" "profile" "User" .Data.User}}
    <img src="https://www.gravatar.com/avatar/{{gravatarHash .Data.User}}?d=identicon&s=80" width="80px" height="80px"><br>
    {{.Data.User.Name}}<br>
{{template "footer" .}}