.problemCategory.collapse-toggle:after {
    font-family: 'bootstrap-icons';
    content: "\F229";
    float: left;
    color: grey;
    font-size: 0.7em;
    line-height: 2em;
    vertical-align: middle;
    padding-right: 0.2em;
}

.problemCategory.collapse-toggle.collapsed:after {
    content: "\F231";
}

.problemCategoryList {
    list-style: none;
}