{{define "submissions"}}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr><td>Id</td><td>Dátum</td><td>Felhasználó</td><td>Feladat</td><td>Nyelv</td><td>Állapot</td><td>Idő</td><td>Memória</td></tr>
        </thead>
        <tbody>
        {{range $i := .Submissions}}
            {{template "submissionRow" $i}}
        {{end}}
        </tbody>
    </table>
    {{template "pagination" .Pages}}
</div>
{{end}}