{{define "header"}}
<!doctype html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>njudge</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"></head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">njudge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Főoldal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/problemset/status">Státusz</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Feladatok
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/problemset/nummat/">Nummat</a>
                    <a class="dropdown-item" href="/problemset/komal/">KöMaL</a>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {{if logged .Context}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{(user .Context).Name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        {{if canView (user .Context).Role "admin_panel"}}
                            <a class="dropdown-item" href="/admin">Admin</a>
                        {{end}}
                        <a class="dropdown-item" href="/user/logout">Kilépés</a>
                    </div>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Belépés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Regisztráció</a>
                </li>
            {{end}}
        </ul>

    </div>
</nav>

<div class="container"><br>
{{end}}

{{define "footer"}}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js" integrity="sha384-U8Vrjwb8fuHMt6ewaCy8uqeUXv4oitYACKdB0VziCerzt011iQ/0TqlSlv8MReCm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js" integrity="sha384-aGfk5kvhIq5x1x5YdvCp4upKZYnA8ckafviDpmWEKp4afOZEqOli7gqSnh8I6enH" crossorigin="anonymous"></script>
<script>
    renderMathInElement(document.body,{delimiters: [
            {left: "$", right: "$", display: false},
            {left: "$$", right: "$$", display: true}
        ]});

</script>
</body>
</html>
{{end}}

{{define "problem"}}

{{if .HTMLStatements}}
    {{str2html (translateContent "hungarian" .HTMLStatements).String}}
{{end}}




{{if .PDFStatements}}
<br>
<div class="card">
    <div class="card-header">
        PDF feladatleírás
    </div>
    <div class="card-body">
        <ul>
        {{$p := .}}
        {{range $loc := locales .PDFStatements}}
            <li><a href="pdf/{{$loc}}/">{{$loc}}</a></li>
        {{end}}
        </ul>
    </div>
</div>
{{end}}
<br>
{{if .Attachments}}
<div class="card">
    <div class="card-header">
        Mellékletek
    </div>
    <div class="card-body">
        <ul>
        {{$p := .}}
        {{range $a := .Attachments}}
            <li><a href="attachment/{{$a.Name}}/">{{$a.Name}}</a></li>
        {{end}}
        </ul>
    </div>
</div>



{{end}}

{{end}}




{{define "submissionRow"}}
<tr>
    <td><a href="/submission/{{.ID}}">{{.ID}}</a></td>
    <td>{{.Submitted.Year}}. {{fixedlen (month2int .Submitted.Month) 2}}. {{fixedlen .Submitted.Day 2}} {{fixedlen .Submitted.Hour 2}}:{{fixedlen .Submitted.Minute 2}}:{{fixedlen .Submitted.Second 2}}</td>
    <td>{{.User.OneG.Name}}</td>
    <td><a href="/problemset/{{.Problemset}}/{{.Problem}}/">{{translateContent "hungarian" (problem .Problem).Titles}}</a></td>
    <td>{{.Language}}</td>
    <td>
    {{$status := parseStatus .Status}}

    {{if eq $status.FeedbackType 0}}
    {{if .Judged.Valid}}
    {{if eq .Verdict 0}}
    <span class="text-success">Elfogadva<span>
    {{else}}
    {{if eq .Verdict 6}}
        Fordítási Hiba
    {{else}}
        <span class="text-info">{{$tc := $status.FirstNonAC}}
        {{($status.IndexTestcase $tc).VerdictName}}
            a(z) {{$tc}}. teszteseten</span>
    {{end}}
    {{end}}
    {{else}}
    {{if eq .Verdict 8}}
        <span class="text-muted">Beküldve</span>
    {{else}}
        <span class="text-info">
                        Fut {{if .Ontest.Valid}} {{.Ontest.String}}. teszteseten {{end}}
                    </span>
    {{end}}
    {{end}}
    {{end}}
    {{if eq $status.FeedbackType 1}}
    {{if .Judged.Valid}}
    {{if $status.IsAC}}
    <span class="text-success">Elfogadva {{$status.Score}}/{{$status.MaxScore}}<span>
    {{else}}

    {{if eq .Verdict 6}}
        Fordítási Hiba
    {{else}}
    <span class="text-info">{{($status.IndexTestcase $status.FirstNonAC).VerdictName}} {{$status.Score}}/{{$status.MaxScore}}<span>
    {{end}}
    {{end}}
    {{else}}
    {{if eq .Verdict 8}}
        <span class="text-muted">Beküldve</span>
    {{else}}
        <span class="text-info">Fut</span>
    {{end}}
    {{end}}
    {{end}}
    {{if eq $status.FeedbackType 2}}
    {{if .Judged.Valid}}
    {{if $status.IsAC}}
    <span class="text-success">Elfogadva<span>
    {{else}}
    {{if eq .Verdict 6}}
        Fordítási Hiba
    {{else}}
    <span class="text-info">{{(index $status.Feedback (decr $status.FirstNonAC)).VerdictName}}<span>
    {{end}}
    {{end}}
    {{else}}
    {{if ne $status.Compiled true}}
        <span class="text-danger">Fordítási hiba</span>
    {{else}}
    {{if eq .Verdict 8}}
        <span class="text-muted">Beküldve</span>
    {{else}}
        <span class="text-info">Fut</span>
    {{end}}
    {{end}}
    {{end}}
    {{end}}
    </td>
    <td>{{$status.MaxTimeSpent}}</td>
    <td>{{$status.MaxMemoryUsage}} KiB</td>
</tr>
{{end}}
