{{template "header" .}}

{{template "problem" .Data}}

{{if logged .Context}}
<br>
<div class="card">
    <div class="card-header">
        Megoldás beküldése
    </div>
    <div class="card-body">
        <input type="file" name="source" id="fileInput">
        <br>
        <br>
        <select name="language" class="form-control" id="languagesList">
            {{range $l := .Data.Languages}}
                <option value="{{$l.Id}}">{{$l.Name}}</option>
            {{end}}
        </select>
        <br>
        <input type="submit" class="btn btn-primary">
    </div>
</div>

{{end}}

{{template "footer" .}}