{{template "mailtemplate_header"}}
Kedves {{.Data.Name}}!
<br>
<br>
A jelszavadat az alábbi linken tudod beállítani: <a href="{{.Data.URL}}/user/forgotten_password_form/{{.Data.Name}}/{{.Data.Key}}">jelszó megváltoztatása.</a>
<br>
<br>
Üdv,
<br>
<a href="{{.Data.URL}}">njudge.hu</a>
{{template "mailtemplate_footer"}}