{{template "mailtemplate_header"}}
Kedves {{.Name}}!
<br>
<br>
A jelszavadat az alábbi linken tudod beállítani: <a href="{{.URL}}/user/forgot_password_form/{{.Name}}/{{.Key}}">jelszó megváltoztatása.</a>
<br>
<br>
Üdv,
<br>
<a href="{{.URL}}">njudge.hu</a>
{{template "mailtemplate_footer"}}