@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="dark"] {
        --color-textcol: 232, 232, 232;
        --color-inputfill: 55, 52, 60;
        --color-grey-900: 5, 1, 8;
        --color-grey-875: 5, 1, 8;
        --color-grey-850: 12, 8, 15;
        --color-grey-825: 20, 16, 23;
        --color-grey-800: 27, 23, 30;
        --color-grey-775: 35, 31, 38;
        --color-grey-750: 42, 39, 45;
        --color-grey-725: 49, 46, 52;
        --color-grey-700: 57, 54, 60;
        --color-grey-675: 64, 61, 67;
        --color-grey-650: 71, 68, 74;
        --color-grey-625: 78, 76, 81;
        --color-grey-600: 85, 83, 88;
        --color-grey-575: 93, 90, 95;
        --color-grey-550: 100, 97, 102;
        --color-grey-525: 107, 104, 109;
        --color-grey-500: 114, 112, 116;
        --color-grey-475: 120, 118, 122;
        --color-grey-450: 127, 125, 129;
        --color-grey-425: 134, 132, 136;
        --color-grey-400: 140, 138, 142;
        --color-grey-375: 146, 143, 148;
        --color-grey-350: 153, 150, 155;
        --color-grey-325: 159, 156, 161;
        --color-grey-300: 165, 163, 168;
        --color-grey-275: 171, 169, 174;
        --color-grey-250: 177, 174, 180;
        --color-grey-225: 183, 180, 186;
        --color-grey-200: 189, 186, 192;
        --color-grey-175: 195, 192, 198;
        --color-grey-150: 201, 198, 204;
        --color-grey-125: 207, 204, 210;
        --color-grey-100: 213, 209, 216;
        --color-bordefcol: var(--color-grey-700);
        --color-bormedcol: var(--color-grey-675);
        --color-borstrcol: var(--color-grey-650);
        --color-dividecol: var(--color-grey-725);
        --color-codebgcol: var(--color-grey-875);
        --color-framebgcol: var(--color-grey-800);
        --color-btncol: var(--color-grey-725);
        --color-btnhovcol: var(--color-grey-700);
        --color-highlight: 79, 70, 229;
    }
    html[data-theme="light"] {
        --color-textcol: 40, 40, 40;
        --color-inputfill: 205, 202, 210;
        --color-grey-100: 37, 34, 40;
        --color-grey-125: 45, 42, 48;
        --color-grey-150: 53, 50, 56;
        --color-grey-175: 61, 58, 64;
        --color-grey-200: 69, 66, 72;
        --color-grey-225: 77, 74, 80;
        --color-grey-250: 85, 82, 88;
        --color-grey-275: 93, 90, 96;
        --color-grey-300: 100, 97, 103;
        --color-grey-325: 108, 105, 111;
        --color-grey-350: 115, 112, 118;
        --color-grey-375: 123, 120, 126;
        --color-grey-400: 130, 127, 133;
        --color-grey-425: 137, 134, 140;
        --color-grey-450: 144, 141, 147;
        --color-grey-475: 151, 148, 154;
        --color-grey-500: 158, 155, 161;
        --color-grey-525: 165, 162, 168;
        --color-grey-550: 172, 169, 175;
        --color-grey-575: 178, 175, 181;
        --color-grey-600: 185, 182, 188;
        --color-grey-625: 192, 189, 195;
        --color-grey-650: 198, 195, 201;
        --color-grey-675: 204, 201, 207;
        --color-grey-700: 210, 207, 213;
        --color-grey-725: 217, 214, 220;
        --color-grey-750: 223, 220, 226;
        --color-grey-775: 229, 226, 232;
        --color-grey-800: 234, 231, 237;
        --color-grey-825: 240, 237, 243;
        --color-grey-850: 246, 243, 249;
        --color-grey-875: 252, 249, 255;
        --color-grey-900: 252, 249, 255;
        --color-bordefcol: var(--color-grey-625);
        --color-bormedcol: var(--color-grey-600);
        --color-borstrcol: var(--color-grey-575);
        --color-dividecol: var(--color-grey-700);
        --color-codebgcol: var(--color-grey-875);
        --color-framebgcol: var(--color-grey-800);
        --color-btncol: var(--color-grey-750);
        --color-btnhovcol: var(--color-grey-725);
        --color-highlight: 99, 102, 241;
    }
}

@layer components {
    .rounded-frame {
        @apply rounded-container bg-framebgcol border border-bordefcol flex w-full shadow-frame dark:shadow-none;
    }
    .dropdown-button {
        @apply w-full rounded-md px-3 py-2 border flex items-center justify-between border-bordefcol text-dropdown;
    }
    .frame-title {
        @apply emph-med p-4 text-grey-150 text-center border-b-1 border-bordefcol;
    }
    .link {
        @apply cursor-pointer underline underline-offset-2 hover:text-indigo-800 dark:hover:text-indigo-200;
    }
    .editor {
        @apply border border-bordefcol;
    }
    .tag {
        @apply whitespace-nowrap cursor-pointer text-small px-2 py-1 border border-borstrcol rounded bg-btncol hover:bg-btnhovcol truncate h-8 flex items-center;
    }
    .btn-indigo {
        @apply text-white text-btn font-medium bg-indigo-600 hover:bg-indigo-700 rounded-lg text-center;
    }
    .btn-gray {
        @apply text-btn bg-btncol rounded-lg hover:bg-btnhovcol border border-borstrcol text-center;
    }
    .date-label {
        @apply cursor-pointer text-small px-2 py-1 rounded border border-borstrcol bg-grey-725 hover:bg-grey-700 shrink-0;
    }
    .padding-btn-default {
        @apply px-6 py-[0.6rem];
    }
    .padding-td-default {
        @apply py-4 px-5;
    }
    .padding-td-mapdata {
        @apply py-3 px-5;
    }
    .padding-th-default {
        @apply py-4 px-8;
    }
}

#root {
    @apply h-full antialiased bg-white dark:bg-black text-textcol;
}

.font-code {
    @apply text-small;
    font-family: "Roboto Mono", monospace;
}

pre {
    @apply font-code;
}

.highlight-green {
    @apply text-green-700 dark:text-green-500;
}

.highlight-red {
    @apply text-red-700 dark:text-red-500;
}

.highlight-yellow {
    @apply text-yellow-700 dark:text-yellow-500;
}

thead {
    @apply bg-framebgcol;
}

tbody {
    @apply divide-y divide-dividecol;
}

tr {
    @apply divide-x divide-dividecol;
}

th {
    @apply emph-med padding-th-default;
}

td {
    @apply padding-td-default;
}

.emph-med {
    @apply font-normal dark:font-medium;
}

.emph-strong {
    @apply font-medium dark:font-semibold;
}

.text-frame {
    font-size: 0.96rem;
    line-height: 1.35rem;
}

.text-nav {
    font-size: 0.975rem;
    line-height: 1.35rem;
}

.text-table {
    font-size: 0.92rem;
    line-height: 1.25rem;
}

.text-label {
    font-size: 0.92rem;
    line-height: 1.25rem;
}

.text-btn {
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.text-dropdown-list,
.text-dropdown {
    font-size: 0.95rem;
    line-height: 1.3rem;
}

.text-small {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

html {
    color-scheme: dark;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(var(--color-inputfill)) inset !important;
}

input:autofill {
    background: rgb(var(--color-inputfill));
}
