@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="dark"] {
        --color-textcol: 232, 232, 232;
        --color-input-fill: 55, 52, 60;
        --color-grey-900: 6, 3, 8;
        --color-grey-875: 6, 3, 8;
        --color-grey-850: 14, 11, 16;
        --color-grey-825: 23, 20, 25;
        --color-grey-800: 32, 29, 34;
        --color-grey-775: 40, 37, 42;
        --color-grey-750: 48, 45, 50;
        --color-grey-725: 57, 54, 59;
        --color-grey-700: 65, 62, 67;
        --color-grey-675: 72, 69, 74;
        --color-grey-650: 80, 77, 82;
        --color-grey-625: 88, 85, 90;
        --color-grey-600: 95, 92, 97;
        --color-grey-575: 102, 99, 104;
        --color-grey-550: 110, 107, 112;
        --color-grey-525: 117, 114, 119;
        --color-grey-500: 123, 120, 125;
        --color-grey-475: 130, 127, 132;
        --color-grey-450: 137, 134, 139;
        --color-grey-425: 143, 140, 145;
        --color-grey-400: 149, 146, 151;
        --color-grey-375: 156, 153, 158;
        --color-grey-350: 162, 159, 164;
        --color-grey-325: 167, 164, 169;
        --color-grey-300: 173, 170, 175;
        --color-grey-275: 179, 176, 181;
        --color-grey-250: 184, 181, 186;
        --color-grey-225: 189, 186, 191;
        --color-grey-200: 194, 191, 196;
        --color-grey-175: 199, 196, 201;
        --color-grey-150: 204, 201, 206;
        --color-grey-125: 209, 206, 211;
        --color-grey-100: 214, 211, 216;
        --color-border-def: var(--color-grey-725);
        --color-border-med: var(--color-grey-700);
        --color-border-str: var(--color-grey-675);
        --color-border-xstr: var(--color-grey-625);
        --color-divide-def: var(--color-grey-750);
        --color-code-bg: var(--color-grey-875);
        --color-frame-bg: var(--color-grey-800);
        --color-button: var(--color-grey-725);
        --color-button-hover: var(--color-grey-700);
        --color-icon: var(--color-grey-125);
        --color-highlight: 89, 78, 239;
    }
    html[data-theme="light"] {
        --color-grey-100: 37, 34, 40;
        --color-grey-125: 46, 43, 49;
        --color-grey-150: 55, 52, 58;
        --color-grey-175: 64, 61, 67;
        --color-grey-200: 73, 70, 76;
        --color-grey-225: 82, 79, 85;
        --color-grey-250: 91, 88, 94;
        --color-grey-275: 99, 96, 102;
        --color-grey-300: 108, 105, 111;
        --color-grey-325: 116, 113, 119;
        --color-grey-350: 124, 121, 127;
        --color-grey-375: 132, 129, 135;
        --color-grey-400: 140, 137, 143;
        --color-grey-425: 147, 144, 150;
        --color-grey-450: 155, 152, 158;
        --color-grey-475: 162, 159, 165;
        --color-grey-500: 169, 166, 172;
        --color-grey-525: 176, 173, 179;
        --color-grey-550: 183, 180, 186;
        --color-grey-575: 189, 186, 192;
        --color-grey-600: 196, 193, 199;
        --color-grey-625: 202, 199, 205;
        --color-grey-650: 208, 205, 211;
        --color-grey-675: 214, 211, 217;
        --color-grey-700: 220, 217, 223;
        --color-grey-725: 226, 223, 229;
        --color-grey-750: 231, 228, 234;
        --color-grey-775: 236, 233, 239;
        --color-grey-800: 242, 239, 245;
        --color-grey-825: 247, 244, 250;
        --color-grey-850: 252, 249, 255;
        --color-grey-875: 252, 249, 255;
        --color-grey-900: 252, 249, 255;
        --color-textcol: 40, 40, 40;
        --color-input-fill: 205, 202, 210;
        --color-border-def: var(--color-grey-625);
        --color-border-med: var(--color-grey-600);
        --color-border-str: var(--color-grey-575);
        --color-border-xstr: var(--color-grey-550);
        --color-divide-def: var(--color-grey-700);
        --color-code-bg: var(--color-grey-875);
        --color-frame-bg: var(--color-grey-800);
        --color-button: var(--color-grey-750);
        --color-button-hover: var(--color-grey-725);
        --color-icon: var(--color-grey-175);
        --color-highlight: 99, 102, 241;
    }
}

@layer components {
    .rounded-frame {
        @apply rounded-container bg-frame-bg border border-border-def flex w-full shadow-frame dark:shadow-none;
    }
    .dropdown-button {
        @apply w-full rounded-md px-3 py-2 border flex items-center justify-between border-border-def text-dropdown;
    }
    .frame-title {
        @apply emph-med p-4 text-icon text-center border-b-1 border-border-def;
    }
    .link {
        @apply cursor-pointer underline underline-offset-2 hover:text-indigo-800 dark:hover:text-indigo-200;
    }
    .editor {
        @apply border border-border-def;
    }
    .tag {
        @apply whitespace-nowrap cursor-pointer text-small px-2 py-1 border border-border-str rounded bg-button hover:bg-button-hover truncate h-8 flex items-center;
    }
    .btn-indigo {
        @apply text-white text-btn font-medium bg-indigo-600 hover:bg-indigo-700 rounded-lg text-center;
    }
    .btn-gray {
        @apply text-btn bg-button rounded-lg hover:bg-button-hover border border-border-str text-center;
    }
    .date-label {
        @apply cursor-pointer text-small px-2 py-1 rounded border border-border-str bg-grey-725 hover:bg-grey-700 shrink-0;
    }
    .padding-btn-default {
        @apply px-6 py-[0.6rem];
    }
    .padding-td-default {
        @apply py-4 px-5;
    }
    .padding-td-mapdata {
        @apply py-3 px-5;
    }
    .padding-th-default {
        @apply py-[1.1rem] px-8;
    }
}

#root {
    @apply h-full antialiased bg-white dark:bg-black text-textcol;
}

.font-code {
    @apply text-small;
    font-family: "Roboto Mono", monospace;
}

pre {
    @apply font-code;
}

.highlight-green {
    @apply text-green-700 dark:text-green-500;
}

.highlight-red {
    @apply text-red-700 dark:text-red-500;
}

.highlight-yellow {
    @apply text-yellow-700 dark:text-yellow-500;
}

thead {
    @apply bg-frame-bg;
}

tbody {
    @apply divide-y divide-divide-def;
}

tr {
    @apply divide-x divide-divide-def;
}

th {
    @apply emph-med padding-th-default;
}

td {
    @apply padding-td-default;
}

.emph-med {
    @apply font-normal dark:font-medium;
}

.emph-strong {
    @apply font-medium dark:font-semibold;
}

.text-frame {
    font-size: 0.96rem;
    line-height: 1.35rem;
}

.text-nav {
    font-size: 0.975rem;
    line-height: 1.35rem;
}

.text-table {
    font-size: 0.92rem;
    line-height: 1.25rem;
}

.text-label {
    font-size: 0.92rem;
    line-height: 1.25rem;
}

.text-btn {
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.text-dropdown-list,
.text-dropdown {
    font-size: 0.95rem;
    line-height: 1.3rem;
}

.text-small {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(var(--color-input-fill)) inset !important;
}

input:autofill {
    background: rgb(var(--color-input-fill));
}

body {
    scrollbar-gutter: stable both-edges;
}
