@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="dark"] {
        --color-textcol: 236, 236, 236;
        --color-input-fill: 55, 52, 60;
        --color-grey-900: 18, 15, 20;
        --color-grey-875: 18, 15, 20;
        --color-grey-850: 25, 22, 27;
        --color-grey-825: 33, 30, 35;
        --color-grey-800: 40, 37, 42;
        --color-grey-775: 47, 44, 49;
        --color-grey-750: 54, 51, 56;
        --color-grey-725: 62, 59, 64;
        --color-grey-700: 69, 66, 71;
        --color-grey-675: 76, 73, 78;
        --color-grey-650: 82, 79, 84;
        --color-grey-625: 89, 86, 91;
        --color-grey-600: 96, 93, 98;
        --color-grey-575: 103, 100, 105;
        --color-grey-550: 109, 106, 111;
        --color-grey-525: 116, 113, 118;
        --color-grey-500: 122, 119, 124;
        --color-grey-475: 128, 125, 130;
        --color-grey-450: 135, 132, 137;
        --color-grey-425: 141, 138, 143;
        --color-grey-400: 147, 144, 149;
        --color-grey-375: 153, 150, 155;
        --color-grey-350: 159, 156, 161;
        --color-grey-325: 165, 162, 167;
        --color-grey-300: 170, 167, 172;
        --color-grey-275: 176, 173, 178;
        --color-grey-250: 182, 179, 184;
        --color-grey-225: 187, 184, 189;
        --color-grey-200: 193, 190, 195;
        --color-grey-175: 198, 195, 200;
        --color-grey-150: 203, 200, 205;
        --color-grey-125: 208, 205, 210;
        --color-grey-100: 214, 211, 216;
        --color-border-def: var(--color-grey-725);
        --color-border-med: var(--color-grey-700);
        --color-border-str: var(--color-grey-675);
        --color-border-xstr: var(--color-grey-625);
        --color-divide-def: var(--color-grey-750);
        --color-code-bg: var(--color-grey-875);
        --color-frame-bg: var(--color-grey-800);
        --color-button: var(--color-grey-725);
        --color-button-hover: var(--color-grey-700);
        --color-icon: var(--color-grey-125);
        --color-highlight: 89, 78, 239;
    }
    html[data-theme="light"] {
        --color-grey-100: 37, 34, 40;
        --color-grey-125: 45, 42, 48;
        --color-grey-150: 53, 50, 56;
        --color-grey-175: 61, 58, 64;
        --color-grey-200: 69, 66, 72;
        --color-grey-225: 77, 74, 80;
        --color-grey-250: 85, 82, 88;
        --color-grey-275: 92, 89, 95;
        --color-grey-300: 100, 97, 103;
        --color-grey-325: 108, 105, 111;
        --color-grey-350: 115, 112, 118;
        --color-grey-375: 122, 119, 125;
        --color-grey-400: 130, 127, 133;
        --color-grey-425: 137, 134, 140;
        --color-grey-450: 144, 141, 147;
        --color-grey-475: 151, 148, 154;
        --color-grey-500: 158, 155, 161;
        --color-grey-525: 165, 162, 168;
        --color-grey-550: 171, 168, 174;
        --color-grey-575: 178, 175, 181;
        --color-grey-600: 184, 181, 187;
        --color-grey-625: 191, 188, 194;
        --color-grey-650: 197, 194, 200;
        --color-grey-675: 203, 200, 206;
        --color-grey-700: 210, 207, 213;
        --color-grey-725: 216, 213, 219;
        --color-grey-750: 222, 219, 225;
        --color-grey-775: 227, 224, 230;
        --color-grey-800: 233, 230, 236;
        --color-grey-825: 239, 236, 242;
        --color-grey-850: 245, 242, 248;
        --color-grey-875: 245, 242, 248;
        --color-grey-900: 245, 242, 248;
        --color-textcol: 20, 20, 20;
        --color-input-fill: 205, 202, 210;
        --color-border-def: var(--color-grey-650);
        --color-border-med: var(--color-grey-625);
        --color-border-str: var(--color-grey-600);
        --color-border-xstr: var(--color-grey-575);
        --color-divide-def: var(--color-grey-700);
        --color-code-bg: var(--color-grey-875);
        --color-frame-bg: var(--color-grey-800);
        --color-button: var(--color-grey-750);
        --color-button-hover: var(--color-grey-725);
        --color-icon: var(--color-grey-175);
        --color-highlight: 99, 102, 241;
    }
}

@layer components {
    .rounded-frame {
        @apply rounded-container bg-frame-bg border border-border-def flex w-full shadow-frame dark:shadow-none;
    }
    .dropdown-button {
        @apply w-full rounded-md px-3 py-2 border flex items-center justify-between border-border-def text-dropdown;
    }
    .frame-title {
        @apply emph-med p-4 text-icon text-center border-b-1 border-border-def;
    }
    .link {
        @apply cursor-pointer underline underline-offset-2 hover:text-indigo-800 dark:hover:text-indigo-200;
    }
    .editor {
        @apply border border-border-def;
    }
    .tag {
        @apply whitespace-nowrap cursor-pointer text-small px-2 py-1 border border-border-str rounded bg-button hover:bg-button-hover truncate h-8 flex items-center;
    }
    .btn-indigo {
        @apply text-white text-btn font-medium bg-indigo-600 hover:bg-indigo-700 rounded-lg text-center;
    }
    .btn-gray {
        @apply text-btn bg-button rounded-lg hover:bg-button-hover border border-border-str text-center;
    }
    .date-label {
        @apply cursor-pointer text-small px-2 py-1 rounded border border-border-str bg-grey-725 hover:bg-grey-700 shrink-0;
    }
    .padding-btn-default {
        @apply px-6 py-[0.6rem];
    }
    .padding-td-default {
        @apply py-4 px-5;
    }
    .padding-td-mapdata {
        @apply py-3 px-5;
    }
    .padding-th-default {
        @apply py-[1.1rem] px-8;
    }
}

#root {
    @apply h-full antialiased bg-white dark:bg-black text-textcol;
}

.font-code {
    @apply text-small;
    font-family: "Roboto Mono", monospace;
}

pre {
    @apply font-code;
}

.highlight-green {
    @apply text-green-700 dark:text-green-500;
}

.highlight-red {
    @apply text-red-700 dark:text-red-500;
}

.highlight-yellow {
    @apply text-yellow-700 dark:text-yellow-500;
}

thead {
    @apply bg-frame-bg;
}

tbody {
    @apply divide-y divide-divide-def;
}

tr {
    @apply divide-x divide-divide-def;
}

th {
    @apply emph-med padding-th-default;
}

td {
    @apply padding-td-default;
}

.emph-med {
    @apply font-normal dark:font-medium;
}

.emph-strong {
    @apply font-medium dark:font-semibold;
}

.text-frame {
    font-size: 0.96rem;
    line-height: 1.35rem;
}

.text-nav {
    font-size: 0.975rem;
    line-height: 1.35rem;
}

.text-table {
    font-size: 0.92rem;
    line-height: 1.25rem;
}

.text-label {
    font-size: 0.92rem;
    line-height: 1.25rem;
}

.text-btn {
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.text-dropdown-list,
.text-dropdown {
    font-size: 0.95rem;
    line-height: 1.3rem;
}

.text-small {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(var(--color-input-fill)) inset !important;
}

input:autofill {
    background: rgb(var(--color-input-fill));
}

body {
    scrollbar-gutter: stable both-edges;
}
